

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &.flex-column {
    flex-direction: column;
  }
  &.flex-inline {
    display: inline-flex;
  }
  &.flex-wrap {
    flex-wrap: wrap;
  }

}
